#periodoAnterior1 {background-color: #E4E0D8; display: none; visibility: hidden;}
#periodoAnterior2 {background-color: #E4E0D8; display: none; visibility: hidden;}
#periodoAnterior3 {background-color: #E4E0D8; display: none; visibility: hidden;}
