vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|en-us
vti_copytimestamp_http\://ta063/Carta:TR|12 Jan 2005 15:29:52 -0000
vti_usagebymonth:UX|138 38 0 0 422 2584 819
vti_usagevisitsbyweek:UX|0 1
vti_timecreated:TR|29 Dec 2004 18:30:40 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_copytimestamp_file\:///C\:/WebCartaFinal:TR|12 Jan 2005 15:12:46 -0000
vti_usagevisitsbymonth:UX|0 1 0 0 279 1723 559
vti_usagelastupdated:TX|10 Jul 2005 02:59:59 -0000
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|Next
vti_usagevisitsbyday:UX|0
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_showhiddenpages:IR|1
vti_usagebyweek:UX|104 72
vti_usagebyday:UX|0 0 0 104
vti_usagehitsbyweek:UX|1200 1043
vti_usagehitsbyday:UX|0 0 0 1200
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Up
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.5516
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_copytimestamp_http\://ta063/CartaAutomatica:TR|12 Jan 2005 15:15:26 -0000
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_usagefirstdata:TX|12 Jan 2005 03:00:00 -0000
vti_usagehitsbymonth:UX|1698 545 0 0 5033 34532 12649
