vti_encoding:SR|utf8-nl
vti_webservertype:SR|msiis
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_hasglobalasa:BR|false
vti_servercharsets:VX|windows-1257 big5 windows-1252 windows-1254 iso-8859-2 iso-8859-15 windows-874 shift_jis utf-8 windows-1251 windows-1256 euc-kr gb2312 windows-1253 windows-1258 koi8-r iso-8859-1 iso-2022-jp ks_c_5601-1987 windows-1250 windows-1255 us-ascii euc-jp unicode unicodeFFFE
vti_textextensions:SX|.txt.cd.csdproj.rc.rc2.rct.sln.sol.sor.txt.user.vb.vbdproj.vbproj.vddproj.vdp.vdproj.vspscc.vsscc.vssscc.
vti_timecreated:TR|10 Jan 2006 18:14:18 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_casesensitiveurls:IX|0
vti_servertz:SX|-0300
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review Approved Denied Pending\\ Review
vti_welcomenames:VX|Default.htm Default.asp iisstart.asp
vti_secureserverurl:SR|https://ta063
vti_hassearchbot:BR|false
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|http://ta063
vti_serverlanguages:VX|en-us es
vti_defaultcharset:SR|windows-1252
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_autorecalc:IX|1
vti_httpdversion:SX|Microsoft-IIS/5.0
vti_navbuttonuplabel:SR|Up
vti_extenderversion:SR|4.0.2.7802
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
vti_dependenciesood:IR|1
vti_navbuttonhomelabel:SR|Home
