#imp
{
    DISPLAY: none
}


#colorrow1
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}
#colorrow2
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}
#colorrow3
{
    BACKGROUND-COLOR: #daeefc;
    COLOR: black
}
#colorrow4
{
    BACKGROUND-COLOR: #daeefc;
    COLOR: black
}
#colorrow5
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}
#colorrow6
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}

#colorrow7
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}

#colorrow8
{
    BACKGROUND-COLOR: #e4f3fd;
    COLOR: black
}


.imprimir
{
	font-size:14px;
	line-height:20px;
}

