vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Aug 2006 20:30:39 -0000
vti_extenderversion:SR|6.0.2.6551
vti_author:SR|TARJETA\\veneziaa
vti_modifiedby:SR|TARJETA\\veneziaa
vti_timecreated:TR|31 Aug 2006 20:30:39 -0000
vti_cacheddtm:TX|31 Aug 2006 20:30:39 -0000
vti_filesize:IR|2376
vti_backlinkinfo:VX|loguin.asp loguin_0.asp Listado_Comercio.asp
